<div class="card">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-4">
                Zones
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-outline-secondary sized" (click)="addZone()">Add Zone</button>
            </div>
          </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"
            *ngFor="let z of zones">
            <zone-detail [zone]="z"></zone-detail>
        </li>
    </ul>
</div>