<div class="container">
  <div class="row h-100">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-2">
              Zones
            </div>
            <div class="col-6 d-flex flex-row-reverse">
              <div class="input-group mb-3">
                <input type="text" 
                 class="form-control" 
                 [formControl]="zoneName"
                 placeholder="Insert the zone name" 
                 [disabled]="!(zoneStoreService.getIsDrawingZone() | async)" >
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary" (click)="createZone()"
                  [disabled]="zoneStoreService.getIsDrawingZone() | async">Draw Zone</button>
                  <button type="button" class="btn btn-outline-secondary" (click)="saveZone()"
                    [disabled]="!(zoneStoreService.getIsDrawingZone() | async)">Save Zone</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <zone-list></zone-list>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card h-100">
        <div class="card-header">
          <div class="col-4 d-flex flex-row-start">
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="clearCanvas()">Clear Canvas</button>
          </div>
        </div>
        <div class="card-body">
          <canvas-board></canvas-board>
        </div>
      </div>
    </div>
  </div>
</div>