<div class="container">
    <div class="row h-100">
        <!-- Left Part: List -->
        <div class="col-md-4 bg-light p-3">
          <!-- <h2>List</h2>
          <ul class="list-group">
            <li class="list-group-item">Item 1</li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 3</li>
            <li class="list-group-item">Item 4</li>
            <li class="list-group-item">Item 5</li>
          </ul> -->
          <zone-list></zone-list>
        </div>
        
        <!-- Right Part: Box with height 100% -->
        
      </div>
</div>
<div class="container h-100">
    <div class="row h-100">
        <div class="col-md-8 bg-secondary text-white p-3">
            <h2>Box</h2>
            <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
              <p>Content goes here. This box takes 100% height of the row.</p>
            </div>
          </div>
    </div>
</div>